$primary-color:#063221; 
$secondary-color: #28aabd;//#2292A4; 
$accent-color: #0D6E48;
$background-color: #828282;//#D2D2D2;
$text-color: #000000;

$gradient-color-1: #0D6E48;
$gradient-color-2: #063221;